html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
  background-color: #2e140d;
}
.message {
  max-width: 960px;
  width: 90%;
  max-height: 20vh;
  overflow-y: auto;
  font-size: clamp(12px, 2vh, 18px);
  text-align: left;
  color: white;
  border-radius: 8px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE/Edge */
}

.message::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
#unity-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
#unity-container.unity-desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#unity-container.unity-mobile { position: fixed; width: 100%; height: 100% }
canvas {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 60vh;
  object-fit: contain;

    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  border-radius: 10px;
  background-color: #1a1a1a;
}
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-dark.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-dark.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-dark.png') no-repeat center }
#unity-footer {   position: absolute;
  bottom: 20px;
  right: 20px;
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 10;}
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
